html {
  font-size: 18px;
  color: white;
  font-family: helvetica;
}

.container {
  width: 960px;
  margin: auto;
}

.header {
  display: flex;
  background-color: black;
}

.header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0px .66rem 0;
}

.header img {
  height: 1.5rem;
  padding: 0 1rem 0 .5rem;
}

.banner {
  background-image: url("images/moto.jpeg");
  height: 25rem;
}

.container .new {
  background-color: black;
  width: 20rem;
  position: relative;
  padding-top: 9rem;
}

.new h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: .25rem;
  padding-left: 3rem;
}

.new h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
}

nav {
  background-color: firebrick;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

nav li {
  display: flex;
  background-color: firebrick;
  list-style: none;
  justify-content: space-between;
}

.products {
  display: flex;
}

.pen {
  height: 9rem;
}

.pen span {
  background-color: black;
}

.watch span{
  background-color: black;
}

.glasses span{
  background-color: black;
}

footer {
  background-color: black;
  height: 5rem;
  align-items: center;
  text-align: left;
}
